@import 'tailwindcss';

@layer base {
  :root {
    font-family: theme('fontFamily.sans');
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  @media (prefers-color-scheme: light) {
    :root {
      color-scheme: light;
      --color-text: hsl(208, 37%, 20%);
      --color-bg: hsl(0, 0%, 100%);
      --color-link: hsl(237, 100%, 70%);
      --color-link-hover: hsl(237, 100%, 73%);
      --color-btn-bg: hsl(0, 0%, 98%);
    }
  }

  @media (prefers-color-scheme: dark) {
    :root {
      color-scheme: dark;
      --color-text: hsla(0, 0%, 100%, 0.87);
      --color-bg: hsl(0, 0%, 9%);
      --color-link: hsl(237, 100%, 70%);
      --color-link-hover: hsl(237, 86%, 64%);
      --color-btn-bg: hsl(0, 0%, 16%);
    }
  }

  html,
  body {
    width: 100%;
    height: 100%;
  }

  body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-width: 320px;
    min-height: 100vh;
    color: var(--color-text);
    background-color: var(--color-bg);
  }
}

@layer components {
  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }

  a {
    font-weight: 500;
    color: var(--color-link);
    text-decoration: inherit;
  }

  a:hover {
    color: var(--color-link-hover);
  }

  button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--color-btn-bg);
    cursor: pointer;
    transition: border-color 0.25s;
  }

  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}
